.container {
  height: 100%;
}
.tabs {
  height: 100%;
}
.tabs > section {
  overflow-y: scroll;
  outline: none;
  height: 100%;
  justify-content: center;
}
.tab {
  background: #3d5afe;
  letter-spacing: 0.1em;
}
.close {
  right: 40px;
  bottom: 40px;
  position: absolute !important;
  color: #fff !important;
}
