.container {
  height: 100%;
}
.tabs {
  height: 100%;
}
.tabs > section {
  overflow-y: scroll;
  outline: none;
  height: 100%;
  justify-content: center;
}
.tab {
  background: #26A69A;
  letter-spacing: 0.1em;
  font-family: 'Courgette', cursive;
  letter-spacing: 0.06em;
  font-size: 18px;
}
.close {
  right: 40px;
  bottom: 40px;
  position: absolute !important;
  color: #fff !important;
}
