.container {
  display: flex;
  width: 50%;
  height: 100%;
  background: #fafafa;
  justify-content: center;
  align-items: center;
}
.container:first-child {
  border-right: solid 1px #ccc;
}
.container img {
  max-width: 100%;
  height: auto;
}
